@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body{
    margin: 0;
    padding: 0;
    /* background-image: url("../img/LayoutBG.png"); */
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    }

.loginBox{
    width: 320px;
    height: 420px;
    color: #fff;
    top: 45%;
    left: 25%;
    position: absolute;
    transform:translate(-50%,-50%) ;
    box-sizing: border-box;
    padding: 70px 30px;
}   

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-weight: 200;
    font-size: 40px;
}

.loginBox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.download{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute; 
    top: -50px;
    left: calc(50%  - 50px);
}

.loginBox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginBox input[type="email"], input[type="text"], input[type="Password"]
{
    border: none;
    background: rgba(0, 0, 0, .4);
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    color: #fff;       
    font-size: 16px;
    position: relative;
    top: 5px;
}

.loginBox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}   

.loginBox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color:#000
}

.loginBox a{
    color: #eee;
}


.loginBox a:hover
{
    color: #ffc107;
}

.loginlogo{
    margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
    width: 430;
}

img {
    padding-top: 5px;
    padding-right: 50px;
    overflow: hidden;
    width: 100px;
}

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #333;
  }
  
.account{
    text-align: right;
    margin-right: 50px;
    float: right;
}

  li {
    float: left;
  }
  
  #NavBar a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  #Navbar a:hover {
    background-color: #111;
  }


button {
    border: none;
    background-color: #333;
    color:white;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    position: relative;
    top: 10px;
    left: 60px;
    border-radius:5px;
    cursor: pointer;
  }

button:hover {
    background-color: rgb(80, 79, 79);
}

.active {
    background-color: #664caf;
  }
  
.error{
    color: #ff5555;
}

