@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

body,
html {
  height: 100%;
  margin: 0;
  color: #777;
  background-color: #333;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

input[type="email"],
input[type="text"],
input[type="Password"] {
  border: 3px solid rgb(100, 100, 100);
  background: rgba(0, 0, 0, 0.4);
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  color: #fff;
  font-size: 16px;
  position: relative;
  top: 5px;
  left: 20px;
}

h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-weight: 200;
  font-size: 40px;
} 

.navbar {
  top: 0;
  z-index: 3;
  position: fixed;
  width: 100%;
  padding: 5px 0px;
  background-color: rgba(51, 51, 51, 1);
}

ul {
  list-style-type: none;
}

a {
  transition: color 200ms ease;
}

a:hover {
  color: turquoise;
}

.navbar ul {
  margin: 0;
  text-align: right;
  padding: 0;
  list-style-type: none;
  margin-right: 100px;
}
.navbar li {
  display: inline;
}
.navbar li a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  color: turquoise;
}

.logo {
  background: "../img/insertcoin logo horizontal white.png";
  float: left;
  width: 9%;
  max-width: 50%;
  margin-left: 2.5vw;
  margin-right: 10vw;
}

.navbar_menu {
  margin-right: auto;
  clear: none;
}

#navbar_menu-btn {
  display: none;
}

.navbar.responsive {
  background-color: rgb(38, 42, 63);
}

.navbar.responsive .navbar_menu {
  background-color: rgb(38, 42, 63);
  max-height: 700px;
}
.navbar.responsive a {
  float: none;
  display: block;
  text-align: left;
}
.navbar.responsive .accbtn {
  background-color:rgb(38, 42, 63);
}


.navbar.responsive .dropdown-content {
  display: block;
  position: relative;
  overflow: hidden;
  border-left: #f2f2f2 solid 5px;
}

.navbar.responsive .dropdown-content a{
  padding-left: 15px;
}

.navbar.responsive .dropdown .accbtn {
  display: block;
  width: 100%;
  text-align: left;
  z-index: 2;
}

.logolink {
  position: fixed;
  padding-left: 35px;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
  top: 9px;
}

#nav-icon span:nth-child(4) {
  top: 18px;
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.error {
  color: #ff5555;
}

.comment {
  color: turquoise;
}

/* Account button dropdown menu */
.accbtn {
  background-color: inherit;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: inherit;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  max-height: 0;
  position: absolute;
  transition: max-height 0.2s ease-in-out, background-color 0.5s ease-in-out;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  background-color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left !important;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .accbtn {
  color: turquoise;
}

.flex-container {
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 50px;
  flex-direction: column;
  background-color: rgba(20, 20, 20, 0.9);
}

.flex-container > div {
  color: white;
  margin: auto;
  width: 90%;
  padding: 5px;
  font-size: 30px;
}

.profiletitle {
  color: rgb(150, 150, 150);
  font-size: medium;
}

.pageheading {
  border-bottom: 5px solid white;
  display: inline-flex;
  font-size: 65;
  font-weight: 600;
  color: white;
  margin-left: 15%;
  margin-top: 5%;
  margin-bottom: 2%;
  background-color: rgba(20, 20, 20, 0.5);
  padding-left: 5px;
  padding-right: 5px;
}

.accsettings {
  color: cadetblue;
  font-size: medium;
}
.accsettings:hover {
  color: turquoise;
}
footer {
  position: relative;
  margin: 0;
  width: 100%;
  background-color: rgba(51, 51, 51, 1);
  color: white;
  text-align: center;
}

.footer-wrap {
  margin: 0 auto r;
}

.footerimg {
  background-size: contain;
  background-repeat: no-repeat;
  border: 0;
  float: left;
}

.footerlink {
  padding: 30px 75px;
  display: table-cell;
  list-style-type: none;
  line-height: 40px;
  height: 200px;
}

.footerlink li {
  float: none;
}

.footerlink a {
  color: white;
  text-decoration: none;
}

.footerlink a:visited {
  text-decoration: none;
  color: white;
}

.company_name {
  float: left;
  font-size: 18;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 200px;
  font-weight: 900;
}

.footerlink a:focus {
  text-decoration: none;
  color: white;
}

.footerlink a:hover,
.footerlink a:active {
  text-decoration: none;
  color: turquoise;
}

@media screen and (max-width: 600px) {
  html,
  body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }
  .navbar {
    position: relative;
    background-color: rgba(51, 51, 51, 1);
    transition: background-color 0.5s ease-in-out;
  }
  .navbar_menu {
    background-color: rgba(51, 51, 51, 1);
    min-width: 100%;
    clear: both;
    overflow: hidden;
    max-height: 0;
    border-bottom: 5px solid #f2f2f2;
    border-width: 0;
    transition: max-height 0.5s ease-in-out, background-color 0.5s ease-in-out;
  }

  .navbar_menu li a {
    display: block;
    text-align: left;
  }

  .dropdown {
    float: left;    
    min-width: 100%;
    clear: both;
    padding: 0;
  }

  .dropdown:hover .dropdown-content {
    max-height: 200px;
  }

  .dropdown-content a{    
  background-color: rgb(45, 50, 75);
  }

  .accbtn{
    float: left;
    position: relative;
  }

  .navbar .logo {
    width: 40%;
    margin-right: 0;
  }

  #nav-icon {
    width: 25px;
    height: 10px;
    position: relative;
    float: right;
    margin: 15px 20px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  #nav-icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #f2f2f2;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  footer {
    padding: 20px;
    text-align: left;
  }

  .company_name {
    float: none;
    padding-left: 1px;
    padding-bottom: 10px;
    padding-right: 0;
  }

  .footerlink {
    display: block;
    float: none;
    padding: 0;
    height: auto;
  }
}
