{% if layout=='layout' %}{% extends "layout.html" %}
{% elif layout=='home' %}{% extends "home.html" %}
{% endif %}

{% block title %}
  <TITLE>insertcoin: About</TITLE>
  {% endblock %}

  {% block head %}
  <style>
    body {
      background-image: url("/static/img/LayoutBG.png");
    }

    .creditlink {
      color: aqua;
      margin-left: 5%;
    }

    .about {
      color: white;
      background-color: rgba(20, 20, 20, 0.9);
      text-align: center;
      margin-left: 15%;
      margin-right: 15%;
      padding: 5px 15px;
      text-align: start;
      font-size: 40;
      font-weight: 400;
    }
  </style>
  {% endblock %}

  {% block content %}

  <span class="pagetitle">About</span>
<div class="about">
  <p>This website has been made only for a college project and has not been made for any commercial use. </p>
  <p>Credits:
    <br><a class="creditlink" href="https://www.w3schools.com/">W3Schools for the code help</a>
    <br><a class="creditlink" href="https://www.gog.com/about_gog">GOG for the Homepage text</a>
    <br><a class="creditlink" href=https://www.flaticon.com/authors/smashicons>Logo</a>
    <br><a class="creditlink"
      href="https://unsplash.com/photos/9AmKnNZw3GA?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink" />Background
    for Layout</a>
    <br><a class="creditlink" href=https://www.flaticon.com/authors/smashicons>Background for Login</a>
    <br><a class="creditlink"
      href="https://unsplash.com/photos/fXmmSz5KkO8?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink">Background
      for Register</a>
    <br><a class="creditlink"
      href="https://pbs.twimg.com/media/CluDFgaVEAAlLsb.png">Homepage background</a>
  </p>


  <p>
    Made by Gokul Viswanath and Sahil Khatri
    <br><a class="creditlink" href="https://github.com/1Gokul/insertcoin">This website's Github repository</a>
  </p>
</div>


{% endblock %}