<HTML>

<HEAD>
  {% block title %}
  <TITLE>insertcoin: Home</TITLE>
  {% endblock %}
  <link rel="Stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/gif" sizes="16x16">

  {% block head %}
  <style>
    body {
      background-image: url("{{url_for('static', filename='img/LayoutBG.png')}}");
    }
  </style>
  {% endblock %}
</HEAD>

<BODY>

  <!-- NavBar -->
  <ul>
    <li><img class="logo" src="{{ url_for('static', filename='img/insertcoin logo horizontal white.png') }}"></li>
    <div id="NavBar">
      <li><a href="{{ url_for('index') }}">Home</a></li>
      <li><a href="{{ url_for('store') }}">Store</a></li>
      <li><a href="{{ url_for('about') }}">About</a></li>
    </div>
    <l1>
      <div class="dropdown">
        <button class="accbtn">{{ account }}</button>
        <div class="dropdown-content">
          <a href="{{ url_for('profile') }}">Profile</a>
          <a href="{{ url_for('library') }}">Library</a>
          <a href="{{ url_for('logout') }}">Sign out</a>
        </div>
      </div>
    </l1>
  </ul>

  {% block content %}

  {% endblock %}
</BODY>

</HTML>