{% extends "home.html" %}

{% block title %}
<TITLE>insertcoin: Log In</TITLE>
{% endblock %}

{% block head %}
<style>
    body {
        background-image: url("{{url_for('static', filename='img/LoginBG.jpg')}}");
        background-size: cover;
    }

    #navbar {
        background-color: rgba(51, 51, 51, 1) !important;
    }
</style>
{% endblock %}

{% block content %}
<div class="LoginBox" style="top: 45%;">
    <h1>LOG IN</h1>
    {% if error %}
    <p class="error">{{ error }}</p>
    {% elif comment %}
    <p class="comment">{{ comment }}</p>
    {% endif %}
    <form method=POST action="{{ url_for('login') }}">
        <div class="form-group">
            <label for="UsernameInput">Username</label>
            <input id="username" type="text" class="form-control" name="username" required>
        </div>
        <div class="form-group">
            <label for="PasswordInput">Password</label>
            <input id="password" type="password" class="form-control" name="pass" required>
        </div>
        <button id="loginbutton" class="loginbutton" type="submit" class="btn btn-primary btn-block">LOG IN</button>
        <br>
        <div>
            Don't have an account? <br> <a href="{{ url_for('register') }}">Sign up here</a>.
        </div>
    </form>
</div>

{% endblock %}