{% extends "home.html" %}

{% block title %}
<TITLE>insertcoin: Register</TITLE>
{% endblock %}

{% block head %}
{{ super() }}
<style>
    body {
        background-image: url("{{url_for('static', filename='img/RegisterBG.jpg')}}");
    }

    #navbar {
        background-color: rgba(51, 51, 51, 1) !important;
    }
</style>
{% endblock %}

{% block content %}
<div class="LoginBox" style="margin-bottom: 12%;">
    <h1>REGISTER</h1>
    {% if error %}
    <p class="error">{{ error }}</p>
    {% elif comment %}
    <p class="comment">{{ comment }}</p>
    {% endif %}

    <form method=POST action="{{ url_for('register') }}">
        <div class="form-group">
            <label for="EmailInput">Email Address</label>
            <input id="email" type="email" class="form-control" name="email" required>
        </div>
        <div class="form-group">
            <label for="ProfileName">Profile Name</label>
            <input id="name" type="text" class="form-control" name="profilename" required>
        </div>
        <div class="form-group">
            <label for="UsernameInput">Username</label>
            <input id="username" type="text" class="form-control" name="username" required>
        </div>
        <div class="form-group">
            <label for="PasswordInput">Password</label>
            <input id="password" type="password" class="form-control" name="pass" required>
        </div>
        <div class="form-group">
            <label for="PasswordConfirmInput">Confirm Password</label>
            <input id="confirm-password" type="password" class="form-control" name="passconfirm">
        </div>
        <button id="register" class="loginbutton" type="submit" class="btn btn-primary btn-block">REGISTER</button>
    </form>

</div>

{% endblock %}